<div class="container">
    <h3>CONTACTE-NOS</h3>
    <p>Pode nos contactar para qualquer pedido de assistênçia ou informação de produto</p>
    <p>Please contact us for all inquiries and purchase options.</p>
  
 

<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   
    <%= f.text_field :title, :placeholder => "introduza o titulo", :reguire => true %>
  </div>
  <div class="field">
    
    <%= f.text_area :body, :placeholder => "introduza o assunto", :reguire => true %>
  </div>
  <div class="field">
  Escolha  tipo assistencia
    <br>
  <p>Produto <%= f.radio_button :tipo, "0" %></p>
   <p>informacao  <%= f.radio_button :tipo, "1" %></p>
  </div>
  <div class="actions">
    <%= f.submit " Enviar Pedido" %>
  </div>
<% end %>
 </div>