<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Status:</strong>
  <%= @message.status %>
</p>
<p>
  <strong>tipo:</strong>
  <%= @message.tipo %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<% if current_admin %>
<%= link_to 'Back', messages_path %>
<% else %>
<%= link_to 'Back', manager_messages_path %>	
<% end %>

