<h1>Listagem de todas as mensagens</h1>

<table>
  <thead>
    <tr>
      <th>Ttitulo</th>
      <th>Assunto</th>
      <th>Vista ?</th>
      <th> tipo </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.title %></td>
        <td><%= message.body %></td>
        <td><%= message.status %></td>
        <td><%= message.tipo %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Editar', edit_message_path(message) %></td>
        <td><%= link_to 'Apagar', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

