<div class="banner-bg banner-bg1">	
	  <div class="container">
			 <div class="header">
			       <div class="logo">
			       		 <%= link_to  root_path do %>
						 <img src="images/logo.png" alt=""/>
						 <% end %>
				   </div>							 
				  <div class="top-nav">										 
						<label class="mobile_menu" for="mobile_menu">
						<span>Menu</span>
						</label>
						<input id="mobile_menu" type="checkbox">
					   <ul class="nav">
						  <li class="dropdown1"><a href="bicycles.html">BICICLETAS</a>
							  <ul class="dropdown2">
									<li><%= link_to " Loja Online", products_path  %></li>
																				
							  </ul>
						  </li>
						  <li class="dropdown1"><a href="parts.html">PARTS</a>
							 <ul class="dropdown2">
									<li>CHAINS</a></li>
									<li>TUBES</a></li>
									<li>TIRES</a></li>
									<li>DISC BREAKS</a></li>
							  </ul>
						 </li>      
					            
						 <li class="dropdown1"><a href="#">LOGIN</a>
						  <ul class="dropdown2">
									<li> <%= link_to('Adimintrador', admin_index_path)  %> </li>
									<li> <%= link_to('Gestor', manager_index_path)  %> </li>
							  </ul>
						 </li>
						 <%= link_to  cart_path, :class => "shop" do %><img src="../images/cart.png" alt=""/>
						<% end %>
						 
						
						 
					  </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
	  </div>	 
	 <div class="caption">
		 <div class="slider">
					   <div class="callbacks_container">
						   <ul class="rslides" id="slider">
							    <li><h1>HANDMADE BICYCLE</h1></li>
								<li><h1>SPEED BICYCLE</h1></li>	
								<li><h1>MOUINTAIN BICYCLE</h1></li>	
						  </ul>
						  <p>You <span>create</span> the <span>journey,</span> we supply the <span>parts</span></p>
						  
						  <%= link_to " Loja Online", products_path , :class => "morebtn" %>
					  </div>
				  </div>
	 </div>
	 <div class="dwn">
		<a class="scroll" href="#cate"><img src="images/scroll.png" alt=""/></a>
	 </div>				 
</div>