<div class="banner-bg banner-sec">	
	  <div class="container">
			 <div class="header">
			       <div class="logo">
						 <%= link_to  root_path do %>
						 <img src="../images/logo.png" alt=""/>
						 <% end %>
				   </div>
				  <div class="top-nav">
						<label class="mobile_menu" for="mobile_menu">
						<span>Menu</span>
						</label>
						<input id="mobile_menu" type="checkbox">
					   <ul class="nav">
						  <li class="dropdown1"><a href="bicycles.html">BICICLETAS</a>
							  <ul class="dropdown2">
									<li><%= link_to " Loja Online", products_path  %></li>
							  </ul>
						  </li>
						
						 </li>      
						
						 </li>               
						 <li class="dropdown1"><a href="#">LOGIN</a>
						  <ul class="dropdown2">
									<li> <%= link_to('Adimintrador', new_admin_session_path)  %> </li>
									<li> <%= link_to('Gestor', manager_index_path)  %> </li>
							  </ul>
						 </li>
						  <%= link_to  cart_path, :class => "shop" do %><img src="../images/cart.png" alt=""/>
						<% end %>
						 
					  </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
	  </div> 				 
</div>